body {
  background-color: rgb(160, 185, 233);
  font-weight: 300;
  font-family: ;
  letter-spacing: 0.05em;
}
  
header {
  display: flex;
  padding: 15px;
  margin: 20px;
  max-height: 100px;
}

h1 {
  font-size: 500%;
  margin-left: 2%;
  font-style: italic;
  font-family: "Lobster", sans-serif;
  flex-wrap: wrap;
  text-align: center;
  padding: 15px;
 
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Lobster", sans-serif;
}

nav {
  align-items: right; 
  margin-left: 10%;
  padding: 1%;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
  justify-content: space-between;
}

nav li {  
  display: inline;
  align-items: center;
}

.movie:hover {
	content: "Go To Your Movie - a location-based movie search tool";
}

.weather:hover {
	content: "A searchable weather dashboard powered by OpenWeather";
}

.scheduler:hover {
	content: "A workday scheduler";
}

.Mainbox {
  display : flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

nav a {
  color: black;
  text-decoration: none;
}

.section {
  width:auto;
  margin: 3%;
  padding: 3%;
  display: flex;
}

#About-Me {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#Work img {
  width: 30%;
  height: auto;
  margin: 1%;
  padding: 2%;
  justify-content:space-evenly;

}

#Work img:hover {
  width: 38%;
  box-shadow: 25% 25% 25% slategrey;
}

.Mainbox img:focus {
  width: 33%;
  box-shadow: 25% 25% 25% pink;
}

.Mainbox img:active {
  width: 33%;
  box-shadow: 25% 25% 25% yellowgreen
}


#Contact-Me li {
  display: inline;
  margin: 50px;
  padding: 0 0 10px 5px;
  color: black;
  align-items: center;
}

#Contact-Me li a {
  color: black;
  text-decoration: none;
}

#Resume a {
 color: black;
}

Footer {
    margin: 3%;
    padding: 3%;
    font-size: 20px;
    text-align: center;
}

@media screen and (min-width: 901px) {
	nav {
		display:flex;
    flex-wrap: nowrap;
	}
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  nav {
		display:flex;
    flex-wrap: nowrap;
	}	
  .Mainbox a {
    min-width: 425px;
    max-width: 850px;

  }
}

@media screen and (max-width: 699px) {
  nav {
		display:flex;
    flex-wrap: nowrap;
	}	
  .Mainbox a {
    min-width: 400px;
    max-width: 650px;

  }
}
