header {
  display: flex;
  padding: 15px;
  margin: 20px;
  background-color: cornflowerblue;
  max-height: 100px;
  border: 2px solid black;
  width:100%;
}
H1 {
  font-size: 300%;
  margin-left: 2%;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  flex-wrap: wrap;
  text-align: center;
  padding: 15px;
 
}

nav {
  align-items: right;
  width: auto;
  margin-left: 10%;
  padding: 1%;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
  justify-content: space-between;
}

nav li {
  float: left;
  display: inline;
  align-items: center;
}

.movie:hover {
	content: "Go To Your Movie - a location-based movie search tool";
}

.weather:hover {
	content: "A searchable weather dashboard powered by OpenWeather";
}

.scheduler:hover {
	content: "A workday scheduler";
}

.Mainbox {
  display : flex;
  flex-direction: row;
}

@media screen and (min-width: 901px) {
	nav {
		display:flex;
    flex-wrap: wrap;
	}	
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  nav {
		display:flex;
    flex-wrap: wrap;
	}	
  .Mainbox a {
    min-width: 425px;
    max-width: 850px;

  }
}

@media screen and (max-width: 699px) {
  nav {
		display:flex;
    flex-wrap: wrap;
	}	
  .Mainbox a {
    min-width: 400px;
    max-width: 650px;

  }
}

nav a {
  color: black;
  text-decoration: none;
}


p {
  margin: 2%;
}

body {
    font-weight: 300;
    letter-spacing: 0.05em;
}

body > h2 {
  font-size: 1.2em;
  font-weight: bold;
}

.section {
  width:auto;
  margin: 3%;
  padding: 3%;
  /* border: 2px solid black; */
}

#About-Me {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


#Work img {
  width: 30%;
  height: auto;
  margin: 1%;
  padding: 2%;
  justify-content:space-evenly;

}

#Work img:hover {
  width: 45%;
  box-shadow: 25% 25% 25% slategrey;
}

.Mainbox img:focus {
  width: 35%;
  box-shadow: 25% 25% 25% pink;
}

.Mainbox img:active {
  width: 35%;
  box-shadow: 25% 25% 25% yellowgreen
}


#Contact-Me li {
  display: inline;
  margin: 50px;
  padding: 0 0 10px 5px;
  color: black;
  align-items: center;
}

#Contact-Me li a {
  color: black;
  text-decoration: none;
}


#Resume a {
 color: black;
}


Footer {
    margin: 3%;
    padding: 3%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: cornflowerblue;
}
